#g-app-footer-container
  text-align center

.g-quick-search-form
  >.form-group
    display inline-block !important
    margin-bottom 0 !important
  .form-control
    display inline !important

.g-footer-info
  margin-bottom 10px

.g-footer-links
  margin 15px auto 10px
  a
    margin 0 10px
