$navLinkBorder=1px solid #e0e0e0
$emptyBorder=1px solid transparent
$minHeight=500px

.g-global-nav-main
  min-height $minHeight - 12px
  padding 15px 0 20px 6px

.g-nav-link
  display block
  line-height 2.2
  font-size 17px
  color #4a4a4a
  padding-left 12px
  i
    color #888
    margin 3px

ul.g-global-nav
  padding-left 0

  >li
    list-style-type none
    text-decoration none

  >li:hover:not(.g-active)
    .g-nav-link
      position relative
      color #222
    i
      color #333

  >li.g-active
    pointer-events none
    cursor default
    .g-nav-link
      color black
    i
      color black

@media (max-width 720px)
  .g-nav-link
    display inline-block
    padding 0 10px 0 6px
    line-height 1.9

  ul.g-global-nav
    width 100%
    >li
      display inline-block
      padding 4px 5px

@media (min-width 721px)
  ul.g-global-nav
    >li:hover:not(.g-active)
      .g-nav-link:after
        content ""
        position absolute
        width 4px
        top -1px
        bottom -1px
        right -1px

@media (max-width 720px)
  .g-global-nav-main
    padding 0
    min-height 0
