@import "../layout/layoutVars"

ul.g-admin-options
  padding-left 0
  margin 0

  >li
    list-style-type none
    text-decoration none
    text-transform uppercase
    font-weight 600
    display block
    line-height 52px
    vertical-align center
    font-size 14px
    i
      margin-right 16px
      font-size 24px
    a
      color inherit

  >li:hover
    color $baseColor
    cursor pointer
