.g-current-assetstores-container
  padding-bottom 10px
  border-bottom 1px solid #d7d7d7

.g-assetstore-buttons
  .btn
    margin-right 12px

#g-new-assetstore-container
  margin-top 10px

.g-assetstore-capacity-chart
  width 240px
  height 180px
