@import "../layout/layoutVars"

.g-collection-list-entry

  .g-collection-title
    font-size $resourceTitleSize

  .g-collection-right-column
    padding-left 8px
    display inline
    width 320px
    font-size 14px
    float right
    color $lightColor

  .g-collection-description
    background-color white
    padding 8px 12px
    border-radius 3px
    border $border

  .g-collection-created-date, .g-user-space-used
    color $normalColor

.g-collection-list-header
  padding-bottom 10px

  .g-collection-pagination
    display inline-block
    >ul
      margin 0 15px 0 0

    .pagination>li>a
      float none
      line-height 1.5
      padding 7px 12px

  .g-collection-search-form
    display inline
    margin-right 15px

    .form-group
      display inline-block
