@import "../layout/layoutVars"

/* Header */
.g-collection-list-header
  display flex
  justify-content flex-start
  align-items center
  flex-wrap wrap
  margin 10px 0

  .g-collection-search-form
    flex 1

/* Body */
.g-collection-list-entry
  display flex
  justify-content flex-start

  .g-collection-title
    font-size $resourceTitleSize

  .g-top-level-list-title-container
    flex 1

  .g-collection-description
    flex 1
    background-color white
    padding 8px 12px

  .g-collection-right-column
    overflow hidden
    white-space nowrap
    padding-left 8px
    width $rightColumnWidth
    font-size 14px
    color $lightColor

/* Footer */ // This code is the same for Collection list, User list and Group list
.g-collection-list-footer
  margin 15px 0

  .g-collection-pagination

    .pagination>li>a
      line-height 1.5
      padding 7px 12px

@media (max-width: $smallWidth)
  /* Header */
  .g-collection-create-button >span
    display none

  /* Body */
  .g-top-level-list-title-container
    flex 1

  .g-collection-subtitle
    display none

  .g-collection-description
    display none

