@import "../layout/layoutVars"

/* Header */
.g-frontpage-header
  display flex
  justify-content center
  background-color $secondaryBackgroundColor
  padding ($headerHeight / 2) 0

  .g-frontpage-logo-container
    position relative
    display inline-block
    vertical-align top
    width 82px
    height 82px

    .g-frontpage-logo
      max-width 82px
      max-height 82px
      // absolute allows top / transform to work
      position absolute
      // center image vertically and horizontally
      left 50%
      top 50%
      transform translate(-50%, -50%)

  .g-frontpage-title-container
    display inline-block
    margin-left 12px

    .g-frontpage-title
      font-weight 600
      font-size 40px
      color $baseColor

    .g-frontpage-subtitle
      font-size 20px
      margin-left 2px
      border-top $border

/* Body */
.g-frontpage-body
  display flex
  justify-content center

  .g-frontpage-paragraph
    line-height 2
    max-width 800px
    padding 12px

  .g-frontpage-welcome-text
    font-size 20px

  .g-frontpage-content
    display flex
    justify-content space-around
    flex-direction column

  .g-frontpage-nav
    display flex
    justify-content center

    a
      margin 0 5%
      text-decoration-color none
      display flex
      flex-direction column
      justify-content center
      align-items center

    i
      flex 1
      font-size 24px


@media (max-width: $smallWidth)
  /* Header */
  .g-frontpage-header
      display none

  /* Body */
  .g-frontpage-body
    .g-frontpage-nav
      span
        display none
