@import "../layout/layoutVars"

/* Global */
.g-groups-list-body
  max-width $maxWidth
  margin-left auto
  margin-right auto

/* Header */
.g-groups-list-header
  display flex
  justify-content flex-start
  align-items center
  flex-wrap wrap
  padding-bottom 10px

  .g-group-search-form
    flex 1

/* Body */
.g-group-list-entry
  display flex
  justify-content flex-start

  .g-top-level-list-title-container
    flex 1
    white-space nowrap
    min-width 50%

    .g-group-title
      font-size $resourceTitleSize

    .g-group-description
      font-size $resourceSubtitleSize

  .g-group-right-column
    overflow hidden
    white-space nowrap
    width $rightColumnWidth
    padding-left 8px
    font-size 14px
    color $lightColor

  .g-group-created-date
    color $normalColor

/* Footer */  // This code is the same for Collection list, User list and Group list
.g-group-list-footer
  margin 15px 0

  .g-group-pagination

      .pagination>li>a
        line-height 1.5
        padding 7px 12px

@media (max-width: $smallWidth)
  /* Header */
  .g-group-create-button >span
      display none
