.g-item-header
  border-bottom 1px solid #ddd
  margin-bottom 15px
  font-size 16px
  color #555

.g-item-edit-button
  margin-bottom 2px
  display inline
  font-size 14px
  float right

.g-item-files, .g-item-metadata
  margin-top 20px

.g-item-files-header, .g-item-metadata-header, .g-item-info-header
  background-color #f0f0f0
  padding 5px 6px
  color #555
  border-bottom 1px solid #ddd

.g-info-list-entry
  margin 3px
  margin-top 5px
  background-color #fbfbfb;

.g-item-metadata-row
  border-bottom 1px solid #f0f0f0
  font-size 14px
  color #777

.g-item-metadata-key, g-item-metadata-value
  padding 5px

.g-item-metadata-key
  font-weight bold

.g-item-files-header, .g-item-metadata-header
  background-image linear-gradient(to bottom,#e6e6e6 0%,#f7f7f7 8px);
  background-color #f6f6f6;
  font-size 16px
  font-weight bold
  margin-top 3px
  border-bottom 1px solid #f0f0f0
  box-sizing border-box
  padding 4px 5px 3px
