.g-item-header
  border-bottom 1px solid #ddd
  margin-bottom 15px
  font-size 16px
  color #555

.g-item-name
  font-size 20px
  font-weight bold

.g-item-description
  font-size 18px
  color #999

.g-item-edit-button
  margin-bottom 2px
  display inline
  font-size 14px
  float right

.g-item-files, .g-item-metdata
  margin 3px
  margin-top 5px
  background-color: #fbfbfb;

.g-item-files-header, .g-item-metadata-header
  background-image: linear-gradient(to bottom,#e6e6e6 0%,#f7f7f7 8px);
  background-color: #f6f6f6;
  font-size 16px
  font-weight bold
  margin-top 3px
  border-bottom 1px solid #f0f0f0
