.g-plugin-list-header
  padding 5px 10px
  background-color #ccf3db
  color #6a6a6a
  font-size 15px
  border-radius 5px 5px 0 0
  border 1px solid #d7d7d7
  border-bottom none
  background-image linear-gradient(to bottom, #ccf3db 0%,#acd3bb 100%)

.g-plugin-list-container
  border 1px solid #d7d7d7
  border-top none
  border-radius 0 0 5px 5px

  .g-plugin-list-item
    padding 10px
    border-bottom 1px solid #d7d7d7

    .g-plugin-name
      font-weight bold
      font-size 16px
      color #666

    .g-plugin-description
      margin-top 7px
      color #999

    &:last-child
      border-bottom none

  .bootstrap-switch
    float right
