.g-plugin-list-header
  padding 5px 10px
  background-color #8ccf95

  color white
  font-weight bold
  font-size 15px
  border-radius 5px 5px 0 0

.g-plugin-list-container
  border 1px solid #d7d7d7
  border-top none
  border-radius 0 0 5px 5px

  .g-plugin-list-item
    padding 10px
    border-bottom 1px solid #d7d7d7

    .g-plugin-name
      font-weight bold
      font-size 16px
      color #666

    .g-plugin-description
      margin-top 10px
      color #999

    &:last-child
      border-bottom none

  .bootstrap-switch
    float right
