.g-settings-form
  margin-top 10px

#g-core-collection-create-policy
  font-family monospace
  margin-bottom 3px
  height 120px

.g-settings-form-container
  border 1px solid #d7d7d7
  background-color #fcfaf3
  border-radius 3px
  margin-bottom 10px
  padding 10px

.g-collection-create-policy-container
  // this class is deprecated
  @extend .g-settings-form-container

  .g-search-container
    .g-search-wrapper, input
      width 200px
