@import "../layout/layoutVars"

.g-user-list-entry
  .g-user-title
    font-size $resourceTitleSize

  .g-user-login
    font-size $resourceSubtitleSize

  .g-user-right-column
    padding-left 8px
    display inline
    width 320px
    font-size 14px
    float right
    color $lightColor

  .g-user-joined-date, .g-user-space-used
    color $normalColor


// These shouldn't be needed when the user list entry divs also have g-top-level-list-entry
.g-user-list-entry
  padding 11px 14px
  background-color white
  border-top $border
  border-left $border
  border-right $border

.g-user-list-entry:last-child
  border-bottom $border


.g-user-list-header
  padding-bottom 10px

  .g-user-pagination
    display inline-block
    >ul
      margin 0 13px 0 0

    .pagination>li>a
      float none
      line-height 1.5
      padding 7px 12px

  .g-user-sort
    display inline-block
    margin-right 12px

  .g-user-search-form
    display inline
    .form-group
      display inline-block

    input[type="text"]
      width 170px
      margin-right 13px

  .g-user-count-container
    display inline-block
    position relative

    i
      color #888
      font-size 16px
      vertical-align middle

    .g-user-count
      background-color #eee
      border-radius 3px
      padding 0 0.2em
      font-size 9px
      position absolute
      left 72%
      top 55%
