.g-user-list-entry
  padding 10px 12px
  margin 2px 0
  border-radius 5px
  background-color #f9fafa
  border 1px solid #d5dede

  .g-user-title
    font-size 17px

  .g-user-login
    color #666
    font-size 16px
    font-weight bold

  .g-space-used
    margin-top 2px

  .g-user-right-column
    border-left 1px solid #ddd
    padding-left 8px
    display inline
    width 235px
    font-size 14px
    float right
    color #909090

  .g-user-joined-date,.g-user-space-used
    color #444

.g-user-header
  padding-bottom 10px

  .g-user-pagination
    display inline-block
    >ul
      margin 0 13px 0 0

    .pagination>li>a
      float none
      line-height 1.5
      padding 7px 12px

  .g-user-search-form
    display inline
    .form-group
      display inline-block

    input[type="text"]
      width 170px
      margin-right 13px
