.g-password-change-container,.g-user-info-container
  margin-top 10px
  border-radius 4px
  background-color #fafafa
  border 1px solid #e3e3e3
  padding 10px
  max-width 500px

  .g-validation-failed-message
    margin-top 12px

#g-admin
  margin-left 10px
