.g-user-header
  border-bottom 1px solid #ddd
  margin-bottom 15px

.g-user-name
  font-size 20px
  color #555

.g-user-login
  font-size 16px
  font-weight bold
  font-size 16px
  color #999
  margin-bottom 5px

.g-user-folders-container
  margin-top 15px
