
export PATH="{{ nodejs_install_root }}/sbin:$PATH"
export PATH="{{ nodejs_install_root }}/bin:$PATH"

export C_INCLUDE_PATH="{{ nodejs_install_root }}/include:$C_INCLUDE_PATH"
export CPLUS_INCLUDE_PATH="{{
    nodejs_install_root }}/include:$CPLUS_INCLUDE_PATH"

export LD_LIBRARY_PATH="{{ nodejs_install_root }}/lib:$LD_LIBRARY_PATH"

export NODE_PATH="{{ nodejs_install_root }}/lib/node_modules:$NODE_PATH"

