[run]
data_file = build/test/coverage/python_temp/.coverage
omit =
    girder/external/*
    girder/test/*
parallel = True

[html]
directory = build/test/artifacts/python_coverage

[xml]
output = build/test/coverage/py_coverage.xml
