{
    "extends": "girder",
    "rules": {
        "no-throw-literal": "off",
        "backbone/defaults-on-top": "error",
        "backbone/no-changed-set": "error",
        "backbone/no-collection-models": "error",
        "backbone/no-el-assign": "error",
        "backbone/no-silent": "error",
        "backbone/no-view-model-attributes": "error",
        "backbone/no-view-qualified-jquery": "error",
        "backbone/render-return": "error",
        "import/named": "error",
        "import/order": ["error", {
            "groups": ["builtin", "external", ["parent", "sibling", "index"]],
            "newlines-between": "always-and-inside-groups"
        }],
        "promise/always-return": "error",
        "promise/no-nesting": "error",
        "underscore/identity-shorthand": ["error", "always"],
        "underscore/jquery-each": ["error", "never"],
        "underscore/jquery-proxy": ["error", "never"],
        "underscore/no-return-value-from-each-iteratee": "error"
    },
    "settings": {
        "backbone": {
            "Collection": [
               "Collection"
            ],
            "Model": [
                "Model",
                "AccessControlledModel"
            ],
            "View": [
                "View",
                "MetadatumEditWidget"
            ]
        }
    }
}
