*.py[cod]
node_modules
docs/_build
docs/_output
*.egg-info
.DS_Store
.*.swp
.*.swo
.vagrant
girder-*.tar.gz
__pycache__
htmlcov
### PyCharm ###
.idea/
.PyCharm50/
.eslintcache
/npm-debug.log
**/*.retry
.cache
.tox
build/test/tox
