*.py[cod]
node_modules
docs/_build
docs/_output
.coverage*
girder.egg-info
.DS_Store
.*.swp
.*.swo
.vagrant
phantom-*.png
phantom_*.png
girder-*.tar.gz
__pycache__
### PyCharm ###
.idea/
.PyCharm50/
.eslintcache
/npm-debug.log
**/*.retry
.cache
.tox
