# Build outputs
/build/
/.tox/
**/dist/
**/.eggs/
girder-*.tar.gz
node_modules/
*.egg-info

# Toolchain generated
__pycache__
.eslintcache
/npm-debug.log
*.py[cod]
**/*.retry

# IDE / OS generated
.DS_Store
.idea/
.PyCharm50/
.vscode/
.*.swo
.*.swp

# Generated during CI
/py-env-checksum
