include LICENSE
include setup.py
include girder/girder-version.json
include README.rst
include girder/conf/girder.dist.cfg
prune test
prune tests
graft girder/web_client
graft girder/mail_templates
prune girder/web_client/node_modules
prune girder/web_client/test/spec
exclude girder/web_client/package.json
exclude girder/web_client/package-lock.json
global-exclude *.pyc *.pyo *.cmake __pycache__
