include LICENSE
include setup.py
include girder/girder-version.json
include README.rst
include girder/conf/girder.dist.cfg
recursive-exclude test *
recursive-exclude tests *
recursive-include girder/web_client *
recursive-include girder/mail_templates *
global-exclude *.pyc *.pyo *.cmake
prune girder/web_client/test
prune girder/web_client/node_modules
prune girder/web_client/package.json
