# The following editable installs *must* be in topological order
# to prevent pip from fetching versions from pypi.
-e pytest_girder
-e plugins/jobs
-e worker

# The following are top level dependencies.
-e plugins/audit_logs
-e plugins/authorized_upload
-e plugins/autojoin
-e plugins/download_statistics
-e plugins/google_analytics
-e plugins/gravatar
-e plugins/hashsum_download
-e plugins/homepage
-e plugins/item_licenses
-e plugins/ldap
-e plugins/oauth
-e plugins/readme
-e plugins/sentry
-e plugins/terms
-e plugins/thumbnails
-e plugins/user_quota
-e plugins/virtual_folders
-e plugins/worker
-e plugins/slicer_cli_web
-e plugins/import_tracker

# External dependencies
coverage
httmock
mongomock
moto[server]<4.2.12
pytest>=3.6
pytest-cov>=2.6
pytest-forked
pytest-mock
python-dateutil
tox
virtualenv
