-e pytest_girder
coverage
flake8
flake8-blind-except
flake8-docstrings>=1.3
httmock
mock
mongomock
moto[server]>=1.3.7
pytest>=3.6
pytest-cov<2.6
pytest-xdist
python-dateutil<2.7 # required for botocore=1.9.8
tox
virtualenv
