# The following editable installs *must* be in topological order
# to prevent pip from fetching versions from pypi.
-e pytest_girder
-e plugins/jobs

# The following are top level dependencies.
-e plugins/audit_logs
-e plugins/authorized_upload
-e plugins/autojoin
-e plugins/dicom_viewer
-e plugins/download_statistics
-e plugins/google_analytics
-e plugins/gravatar
-e plugins/hashsum_download
-e plugins/homepage
-e plugins/item_licenses
-e plugins/ldap
-e plugins/oauth
-e plugins/terms
-e plugins/thumbnails
-e plugins/user_quota
-e plugins/virtual_folders

# External dependencies
configparser==3.5.0
coverage
flake8
flake8-blind-except
flake8-docstrings>=1.3
girder-worker
httmock
mock
mongomock
moto[server]>=1.3.7
pytest>=3.6
pytest-cov<2.6
pytest-xdist
python-dateutil
tox
virtualenv
