.g-item-table-view-header
  background-color #f0f0f0
  padding 5px 6px
  color #555
  font-size 16px
  font-weight bold
  margin-top 18px
  cursor pointer
  display flex

  .g-item-table-view-title
    flex 1

    .g-item-table-view-subtitle
      font-weight normal
      padding-left 16px
      font-size 14px

.g-item-table-view-header-inactive
  cursor auto

.g-item-table-view-container

  li.g-table-view-page-next, li.g-table-view-page-prev
    user-select none

  table
    display block
    overflow scroll

  th, td
    white-space nowrap
