.g-hierarchy-pages-header
  .g-hierarchycenter
    if (currentPage >1)
      a#g-previous-paginated.g-prevnext-paginated Prev
    else
      span#g-previous-paginated.g-prevnext-paginated.disabled Prev
    span Page:
    input#g-page-selection-input(type='number', min=1, max=totalPages, value=currentPage)
    span of #{totalPages}
    if (currentPage+1<=totalPages)
      a#g-next-paginated.g-prevnext-paginated Next
    else
      span#g-next-paginated.g-prevnext-paginated.disabled Next
