.g-search-wrapper
  a.g-search-options-button.btn.btn-sm(title="Show search help")
    i.g-hierarchy-search-state.icon-search
  input.g-hierarchy-search-field.form-control.input-sm(
    type="text", placeholder=placeholder)
  .g-hierarchy-search-results.dropdown
    ul.dropdown-menu(role="menu")
