.modal-dialog
  .modal-content
    form#g-curation-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal" aria-hidden="true" type="button") &times;
        h4.modal-title Curation details
        .g-dialog-subtitle
          i.icon-folder
          |  #{folder.get('name')}
      .modal-body
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Close
        button.g-submit-curation.btn.btn-small.btn-primary(type="submit")
          i.icon-ok
          |  Save
