@import "layoutVars"

#g-app-footer-container
  border-top $border
  text-align center
  margin 20px 20px 20px $navWidth + 20px

.g-quick-search-form
  >.form-group
    display inline-block !important
    margin-bottom 0 !important
  .form-control
    display inline !important

.g-footer-info
  margin-bottom 20px

.g-footer-links
  margin 15px auto 10px
  a
    margin 0 10px

@media (max-width: 720px)
  #g-app-footer-container
    margin 20px
