@import "layoutVars"

ul.g-global-nav
  padding-left 0
  width 260px

  .g-nav-link
    display block
    line-height 2.2
    font-size 14px
    color $lightColor
    i
      margin-right 16px
      font-size 24px

  >li
    list-style-type none
    text-decoration none
    text-transform uppercase
    font-weight 600

  >li:hover:not(.g-active)
    .g-nav-link
      color $normalColor

  >li.g-active
    pointer-events none
    cursor default
    .g-nav-link
      color $baseColor

@media (max-width: 720px)
  .g-nav-link
    display inline-block
    padding 0 10px 0 6px
    line-height 1.9

  ul.g-global-nav
    width 100%
    >li
      display inline-block
      padding 4px 5px

@media (max-width: 720px)
  .g-global-nav-main
    padding 0
    background-image none
    min-height 0
