/**
 * Place global styles in this file.
 */

*:not(i)
  font-family 'Droid Sans',sans-serif !important

body
  padding 0

a
  cursor pointer
  text-decoration none !important

.g-clear-both
  clear both

.g-clear-right
  clear right
