/**
 * Place global styles in this file.
 */

*:not(i)
  font-family 'Droid Sans',sans-serif !important

body
  padding 0

a
  cursor pointer
  text-decoration none !important

.g-clear-both
  clear both

.g-clear-right
  clear right

ul.dropdown-menu
  >li.dropdown-header
    padding 3px 20px 3px 8px
    margin-bottom 3px
    background-color #555
    font-weight bold
    color white
  >li>a
    padding 3px 20px 3px 8px
    >i
      margin-right 3px

