@import "layoutVars"

ul.g-global-nav
  display flex
  justify-content center
  align-items center
  flex-wrap wrap
  padding-left 0
  margin 0

  >li
    list-style-type none
    text-decoration none
    text-transform uppercase
    font-weight 600
    height $headerHeight
    padding 0 2%

  >li:hover:not(.g-active)
    .g-nav-link
      color $baseColor

  >li.g-active
    pointer-events none
    cursor default
    background white
    .g-nav-link
      color $baseColor

  .g-home
    display none

  .g-nav-link
    line-height $headerHeight
    font-size 14px
    color $lightColor

    i
      margin-right 5px
      font-size 24px

@media (max-width: $smallWidth)
  ul.g-global-nav
    justify-content space-evenly

    .g-home
      display block

  .g-nav-link > span
    display none
