@import "layoutVars"

.g-header-wrapper
  display flex
  color $normalColor
  height $headerHeight
  vertical-align middle
  padding 0 20px
  background white
  border-bottom $border

.g-app-title
  display inline
  font-size 20px
  font-weight 600
  margin-right 35px
  line-height $headerHeight
  cursor pointer
  flex 1

.g-app-title:hover
  color $baseColor

.g-quick-search-form
  display inline-block
  margin-right 12px
  vertical-align top
  margin-top (($headerHeight - 30px) / 2)
  width $quickSearchWidth

.g-current-user-wrapper
  display inline

@media (max-width: 720px)
  .g-app-title
    display none
