@import "layoutVars"

.g-user-text
  line-height $headerHeight
  vertical-align middle

  a
    color white
    i
      margin-left 2px
  a:hover
    color #e0e0e0

#g-user-action-menu .dropdown-menu
  position absolute
  right 0
  left auto
