@import "layoutVars"

.g-header-wrapper
  display flex
  justify-content flex-start
  align-items center
  height $headerHeight
  padding 0 20px
  background white
  border-bottom $border
  box-sizing border-box

.g-app-title
  overflow-x hidden
  white-space nowrap
  font-size 30px
  font-weight 600
  line-height $headerHeight
  cursor pointer
  flex 1

.g-current-user-wrapper
  margin-left 1%

/* Header Responsive */
@media (max-width: $smallWidth)
  .g-app-title
    display none
  .g-quick-search-form
    flex 1
