@import "layoutVars"

.g-user-text
  line-height $headerHeight

  .g-user-dropdown-link
    color white
    display inline-block
    max-width calc(100vw - 300px)
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

    i
      margin-left 2px
    &:hover
      color #e0e0e0

  .g-or-text
    vertical-align top
    display inline-block
    margin 0 5px

#g-user-action-menu
  display inline

  .dropdown-menu
    right 0
    left auto
