$navWidth = 310px
$minHeight = 500px
$headerHeight = 52px
$headerZ = 50
$modalBackdropZ = 1030
$modalZ = 1040
$progressZ = $modalZ + 100
$alertsZ = $progressZ + 100
$quickSearchWidth = 220px

$baseColor = #333
$normalColor = alpha($baseColor, .7)
$lightColor = alpha($baseColor, .5)

$accentColor = #0097d8

$secondaryBackgroundColor = alpha($baseColor, .05)

$border = 1px solid alpha($baseColor, .1)

$resourceTitleSize = 16px
$resourceSubtitleSize = 14px

$privateColor = #fff9ee
