$navWidth = 230px
$minHeight = 70vh
$maxWidth = 60vw
$minHeightSmallScreen = ($minHeight - 150px)
$headerHeight = 52px
$quickSearchWidth = 220px

/* Z-index */
$headerZ = 50
$modalBackdropZ = 1030
$modalZ = 1040
$progressZ = $modalZ + 100
$alertsZ = $progressZ + 100
$background = -1

/* Media query : Responsive */
$smallWidth = 750px

/* Body */
$bodyMargin = 20px

$baseColor = #333
$normalColor = alpha($baseColor, 0.85)
$lightColor = alpha($baseColor, 0.7)

$accentColor = #0097d8

$secondaryBackgroundColor = alpha($baseColor, 0.05)

$border = 1px solid alpha($baseColor, 0.1)

$resourceTitleSize = 16px
$resourceSubtitleSize = 14px

$privateColor = #fff9ee

/* Front page */
$bodyLayoutMargin = 10px

/* Collections & Users */
$rightColumnWidth = 300px
