$navWidth = 180px
$minHeight = 500px

#g-global-nav-container
  float left
  width $navWidth

#g-app-body-container
  padding 10px
  margin-left $navWidth + 1px
  min-height $minHeight

#g-alerts-container
  position fixed
  top 65px
  right 10px
  width 320px

  .alert
    display none
    padding-top 10px
    padding-bottom 10px
    border-color #aaa
    border-radius 0
    box-shadow 0 0 0 5px rgba(180, 180, 180, 0.33)

.g-validation-failed-message
  font-weight bold
  color #dd2222

.g-bottom-message
  margin-top 15px
  font-size 12px
  color #878080

.g-password-reset-explanation
  font-size 13px
  color #505050
  margin-bottom 10px

@media (max-width: 720px)
  #g-global-nav-container
    float none
    width 100%

  #g-app-body-container
    margin-left 0
