.g-config-breadcrumb-container

p
  | This plugin uses the
  a(target="_blank", href="http://trifacta.github.io/vega")  Vega library
  |  to render vega-formatted JSON objects directly in the Girder application.

p.
  This plugin requires no configuration. Simply upload the JSON file as an item,
  and then set a "vega: true" metadata field on the item. The visualization will
  then be rendered directly in the item view any time it is viewed.
