maxImageHeight = 400px

.g-widget-item-previews-header
  margin-top: 10px
  background-color #f0f0f0
  padding 5px 6px
  color #555
  font-size 16px
  font-weight bold

.g-widget-item-previews-container
  white-space: nowrap
  overflow-x: auto
  max-height: maxImageHeight

.g-widget-item-previews-container img
  max-height: maxImageHeight
  width: auto
  margin-right: 10px
  border-radius: 5px
