.g-hierarchy-widget
  border 1px solid #eaeaea

  .g-hierarchy-actions-header
    background-image linear-gradient(to bottom,#e6e6e6 0%,#f7f7f7 8px)
    padding 4px 5px 3px
    background-color #f6f6f6

    .g-select-all
      font-size 16px
      background-color green

    .btn-group
      margin-left 12px

    button
      margin-left 12px
      padding 4px 8px

  .g-folder-header-buttons
    float right

  .g-hierarchy-breadcrumb-bar
    ol.breadcrumb
      margin-bottom 0
      background-color #eaebea
      border-bottom 1px solid #ddd
      border-radius 0
      padding-left 5px
      padding-right 5px

      >li.active
        color #555

  .g-folder-list,.g-item-list,.g-file-list
    margin 0
    padding 0
    list-style-type none

    >li
      border-top 1px solid #efefef
      box-sizing border-box
      padding 4px 5px 3px

    >.g-folder-list-entry,>.g-item-list-entry
      background-color white
      font-size 15px

      &:hover
        background-color #fbfbf7

    >.g-show-more
      background-image linear-gradient(to bottom, #f6f6f6 0%, #fff 10px)

    .g-list-checkbox
      font-size 16px
      margin-right 7px
      position relative
      top -1px

  .g-checked-folder-count
    margin-right 23px

  .g-hierarchy-level-up
    border 1px solid #d5d5d5
    border-radius 3px
    padding 2px 3px

    &:hover
      border 1px solid #aaa
      background-color #dadada

  .g-item-size,.g-folder-privacy
    display inline-block
    padding 1px 5px
    margin-left 10px
    float right
    color #808080
    font-size 13px
  .g-folder-privacy
    padding 1px 5px 1px 3px
