.g-hierarchy-actions-header
  background-image linear-gradient(to bottom,#e6e6e6 0%,#f7f7f7 8px)
  padding 4px 5px 3px
  background-color #f6f6f6
  margin-bottom 2px
  border-bottom 1px solid #efefef

  .g-select-all
    font-size 16px
    background-color green

  .btn-group
    margin-left 12px

  button
    margin-left 12px
    padding 4px 8px


.g-folder-header-buttons
  float right



.g-hierarchy-breadcrumb-bar
  ol.breadcrumb
    margin-bottom 0
    border-radius 0
    background-color #f0f0f0
    border-bottom 1px solid #ddd
    padding-left 5px

    >li.active
      color #555

.g-folder-list,.g-item-list
  margin 0
  padding 0
  list-style-type none

  >.g-folder-list-entry,>.g-item-list-entry
    padding 4px 5px 3px
    background-color #fbfbfb
    border-bottom 1px solid #f0f0f0
    font-size 15px
    box-sizing border-box

  .g-list-checkbox
    font-size 16px
    margin-right 7px
    position relative
    top -1px

.g-checked-folder-count
  margin-right 23px
