.g-widget-metadata-header
  background-color #f0f0f0
  padding 5px 6px
  color #555
  font-size 16px
  font-weight bold

.g-widget-metadata-row
  margin 3px
  margin-top 5px
  border-bottom 1px solid #f0f0f0
  min-height 25px
  font-size 14px
  color #777

.g-widget-metadata-key, .g-widget-metadata-value
  margin 5px
  display inline-block
  vertical-align top
  overflow hidden
  text-overflow ellipsis

.g-widget-metadata-key
  font-weight bold
  width 30%

.g-widget-metadata-value
  width 60%

.g-widget-metadata-add-button
  float right
  margin-right 10px
  padding 2px 3px
  margin-top 3px

.g-widget-metadata-edit-button
  margin-right 14px
  margin-top -3px
  float right
  display inline-block
  height 25px
  font-size 12px
  padding 3px

.g-widget-metadata-cancel-button, .g-widget-metadata-save-button, .g-widget-metadata-delete-button
  margin-right 4px
  margin-top 1px
  display inline-block
  height 23px
  font-size 12px
  padding 2px

.g-widget-metadata-key-input, .g-widget-metadata-value-input
  height 22px
  margin-left 5px
  margin-right 5px
  display inline-block

.g-widget-metadata-key-input
  width: 30%

.g-widget-metadata-value-input
  width: 55%
