.g-search-wrapper
  display table-row
  color #333

  .popover-title
    display none

  .g-search-options-button
    color #333
    display table-cell
    border-radius 3px 0 0 3px
    margin-right 0
    border 1px solid #ccc
    background-color #eee

    &:hover
      background-image linear-gradient(to bottom,#e2e2e2 0%,#eee 80%)

  .g-search-field
    display table-cell
    border-radius 0 3px 3px 0
    margin-left 0
    border-left none

  .g-search-result.g-search-selected
    background-color #ccc

.g-search-help-text
  line-height 1.25

.g-search-examples-list
  margin-left 0px
  list-style-position inside
  padding-left 2px

  >li
    line-height 1.25
    margin-top 5px
