.g-current-progress-message,.g-overall-progress-message
  color #737373
  margin-top 5px
  margin-bottom 5px

.g-progress-current,.g-progress-overall
  >.progress-bar
    transition none

.g-drag-test
  padding 20px
  background-color white

.g-drag-test:hover
  background-color #f5f5f5
