.g-config-breadcrumb-container

p.g-homepage-description
  | To configure the homepage content, enter Markdown here.

.g-homepage-container

p#g-homepage-error-message.g-validation-failed-message

form#g-homepage-form(role="form")
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
