.checkbox.g-job-checkall
  label
    input(type="checkbox", data-toggle="tooltip", checked=checkAllChecked)
    | Check all
ul
  each checked, name in values
    li(role="presentation")
      .checkbox
        label
          input.g-job-filter-checkbox(type="checkbox", data-toggle="tooltip", id=name, title=name, checked=checked)
          = name