.g-treeview
    .g-treeview-container
        max-height 500px
        overflow auto
        border 1px solid #bbb
        border-radius 3px

    .g-treeview-selected
        margin-top 10px

        input
            height auto

.jstree-contextmenu
    z-index 1100
