ul.g-admin-options
  li.g-server-config
    a(href="#settings")
      i.icon-cog-alt
      |  Server configuration
  li.g-plugins-config
    a(href="#plugins")
      i.icon-puzzle
      |  Plugins
  li.g-assetstore-config
    a(href="#assetstores")
      i.icon-box-1
      |  Assetstores
