ul.g-admin-options
  li.g-server-config
    i.icon-cog-alt
    |  Server configuration
  li.g-plugins-config
    i.icon-puzzle
    |  Plugins
  li.g-assetstore-config
    i.icon-box-1
    |  Assetstores
