.g-search-results-header-container
  .g-search-results-title-container
    i.icon-search.g-search-results-title-element
    if length === 1
      span.g-search-results-title.g-search-results-title-element Result : #{query}
    else
      span.g-search-results-title.g-search-results-title-element Results : #{query}
  .g-search-results-header
    .g-search-results-advance-search

.g-search-results-container
  each type in Object.keys(results)
    if results[type].length
      .g-search-results-type-container(id=`${type}Subview`)

if !length
  .g-search-no-results.disabled(role="presentation")
    i.icon-block
    |  No results found
