
dbpath=/var/lib/mongodb
logpath=/var/log/mongodb.log
logappend=true
bind_ip={{ hostvars[inventory_hostname]
                   ["ansible_" + mongodb_net_interface]
                   ["ipv4"]
                   ["address"] }}
port={{ mongodb_port }}
journal=true

