.g-dicom-panes.clearfix
  .g-dicom-left
    .g-dicom-container
    .dicom-filename
    .g-dicom-controls
      input.dicom-slider(type="range")
      .right
        button.dicom-first.btn.btn-sm.btn-default(title="First")
          i.icon-angle-double-left
        button.dicom-previous.btn.btn-sm.btn-default(title="Previous")
          i.icon-angle-left
        button.dicom-play.btn.btn-sm.btn-default(title="Play")
          i.icon-play
        button.dicom-pause.btn.btn-sm.btn-default(title="Pause")
          i.icon-pause
        button.dicom-next.btn.btn-sm.btn-default(title="Next")
          i.icon-angle-right
        button.dicom-last.btn.btn-sm.btn-default(title="Last")
          i.icon-angle-double-right
      .left
        button.dicom-zoom-in.btn.btn-sm.btn-default(title="Zoom In")
          i.icon-zoom-in
        button.dicom-zoom-out.btn.btn-sm.btn-default(title="Zoom Out")
          i.icon-zoom-out
        button.dicom-reset-zoom.btn.btn-sm.btn-default(title="Reset Zoom")
          i.icon-search
        button.dicom-auto-levels.btn.btn-sm.btn-default(title="Auto Levels")
          i.icon-ajust
  .g-dicom-right
    .g-dicom-tags
