.g-candela-vis-setup
  .g-candela-panel-group
    .g-candela-inputs-container
  .g-candela-update-vis-container
    .g-candela-validation-failed-message
    button.g-candela-update-vis.btn.btn-sm.btn-success
      i.icon-play
      | Update
.g-candela-vis
