.g-config-breadcrumb-container

p
  | This plugin uses the
  a(target="_blank", href="http://candela.readthedocs.io/")  Candela library
  |  to render table files directly in Girder.

p.
  This plugin requires no configuration. Simply upload a CSV file as an item,
  then set the Candela visualization type and options.
