.g-terms-editor-group.form-group
  label.control-label Terms of Use (optional)
  .g-terms-editor-container
  .alert.alert-info
    i.icon-info-circled
    span.
      If the Terms of Use is non-empty, users will be required to agree to it before accessing
      anything in this collection.
