#! /usr/bin/env bash

# f="$( ls /opt/uvcdat/*/bin/setup_runtime.sh 2>/dev/null | tail -n 1 )"
# if [ -n "$f" ] ; then source "$f" ; fi

f="$( ls /opt/spark/*/conf/spark-env.sh 2>/dev/null | tail -n 1 )"
if [ -n "$f" ] ; then source "$f" ; fi

f="$( dirname "$( dirname "$f" )" )"
export PYTHONPATH="$f/python:$f/python/lib/py4j-0.8.2.1-src.zip:$PYTHONPATH"

cd {{ romanesco_install_root }}
python -m romanesco

