
[celery]
app_main={{ romanesco_main_app_name }}
broker={{ romanesco_celery_broker }}

[romanesco]
tmp_root={{ romanesco_tmp_root }}
plugins_enabled=girder_io,spark
plugin_load_path={{ romanesco_plugin_load_path | join(":") }}

