/*
!.gitignore
!autojoin
!celery_jobs/
!curation/
!geospatial/
!google_analytics/
!gravatar/
!hashsum_download/
!hdfs_assetstore/
!homepage/
!item_licenses/
!item_previews/
!jobs/
!jquery_widgets/
!metadata_extractor/
!mongo_search/
!oauth/
!provenance/
!thumbnails/
!user_quota/
!vega/
!worker/
