.g-config-breadcrumb-container
p.g-google-analytics-description
  | To track pageviews in Girder, enter your Google Analytics tracking ID here.
form#g-google_analytics-form(role="form")
  .form-group
    label.control-label(for="g-google-analytics-tracking-id") Google Analytics Tracking ID
    input#g-google-analytics-tracking-id.input-sm.form-control(
      type="text", placeholder="Tracking ID")
  p#g-google_analytics-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
