.g-config-breadcrumb-container
form#g-celery-jobs-config-form(role="form")
  .form-group
    label.control-label(for="g-celery-jobs-broker") Broker URL
    input#g-celery-jobs-broker.input-sm.form-control(
      type="text", placeholder="Celery broker URL")
  .form-group
    label.control-label(for="g-celery-jobs-app-main") Celery app main name
    input#g-celery-jobs-app-main.input-sm.form-control(
      type="text", placeholder="Celery app main name")
  .form-group
    label.control-label(for="g-celery-jobs-user-id") Celery user ID
    input#g-celery-jobs-user-id.input-sm.form-control(type="text")
    .g-celery-user-select-container

  p#g-celery-jobs-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
