if isFolder
  p.
    TODO
else
  p.
    Running this will retrieve the task specification from a decorated python function
    This item's metadata will be updated to contain the task specification. This item
    can then be run as a task via the worker.
