p.
  Running this will pull and run the specified docker image in order
  to introspect its task specification output. Once that output
  is parsed, the information will be transformed into metadata on new
  items under this folder, which can then be run as tasks via the worker.
.form-group
  label Docker image identifier
  input.g-configure-docker-image.form-control.input-sm(name="docker-image", value=currentImage)
.checkbox
  label
    input.g-configure-docker-pull-image(type="checkbox", checked=true)
    | Pull image from Docker Hub
