.modal-dialog.g-configure-tasks-dialog
  .modal-content
    form.g-configure-docker-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          if isFolder
            | Auto-configure task items
          else
            | Auto-configure task item
        .g-dialog-subtitle
          if isFolder
            i.icon-folder
          else
            i.icon-doc-text-inv
          = model.name()
      .modal-body
        ul.nav.nav-tabs
          li.g-configure-celery-task-tab.active
            a(href="#g-configure-celery-task-tab-content", data-toggle="tab") Celery
          li.g-configure-json-tasks-tab
            a(href="#g-configure-json-tasks-tab-content", data-toggle="tab") JSON
          li.g-configure-slicer-cli-task-tab
            a(href="#g-configure-slicer-cli-task-tab-content", data-toggle="tab") Slicer CLI
        .tab-content
          #g-configure-celery-task-tab-content.tab-pane.active
            include configureCeleryTasks.pug
          #g-configure-json-tasks-tab-content.tab-pane
            include configureJsonTasks.pug
          #g-configure-slicer-cli-task-tab-content.tab-pane
            include configureSlicerCliTasks.pug
        .g-validation-failed-message
      .modal-footer
        a.btn.btn-default(data-dismiss="modal") Close
        button.btn.btn-success(type="submit")
          i.icon-play
          |  Run
