- var itemsAdded = false
if _.has(item.get('meta'), 'itemTaskSpec')
  - itemsAdded = true
  li(role="presentation")
    a(role="menuitem", href=`#item_task/${item.id}/run`)
      i.icon-play
      | Run this task
if currentUser && currentUser.get('admin')
  - itemsAdded = true
  li(role="presentation")
    a.g-configure-item-task(role="menuitem")
      i.icon-cube
      | Configure task
  li(role="presentation")
    a.g-select-item-task(role="menuitem")
      i.icon-cog
      | Run task on item
if itemsAdded
  li.divider(role="presentation")
