.g-task-list-header
  .g-task-pagination

.g-list-group.g-task-list-container
  each task in tasks
    a.g-list-group-item.g-execute-task-link(
        href=itemUrlFunc && itemUrlFunc(task),
        data-task-id=task.id)
      h4.g-list-group-item-heading.g-execute-task-link-header= task.name()
      .g-list-group-item-text.g-execute-task-link-body= task.get('description')
