.g-task-list-header
  .g-task-pagination
  form.form-inline.g-task-search-form(role="form")
    .form-group.g-task-search-container
      input.form-control.input-sm.g-task-search-field(type="text", placeholder="Search tasks...")

.g-task-list-widget-container

if collection.isEmpty()
  i.icon-attention
  |  No tasks are available.
