.g-body-title Run task #[a(href=`#item/${item.id}`)= item.name()]

if item.get('description')
  .g-task-description-container!= renderMarkdown(item.get('description'))

.g-panel-group.g-task-setup-container
  if hasInputs
    .g-inputs-container.g-panel
  if hasOutputs
    .g-outputs-container.g-panel
.g-run-container
  .g-validation-failed-message
  button.g-run-task.btn.btn-lg.btn-success
    i.icon-play
    |  Execute task
