if !collection.isEmpty()
  .panel.panel-default.g-task-list-task-items
    ul.list-group
      each task in collection.models
        - var tags = task.get('meta').itemTaskSpec.tags
        li.list-group-item.g-task-list-task-container
          h4.list-group-item-heading.g-task-list-task-name
            a.g-task-list-execute-task-link(href=`#item_task/${task.id}/run`)= task.name()
          .list-group-item-text.g-task-list-task-description= task.get('description')
          if tags
            .g-task-list-tag-container
              each tag in tags
                a.label.label-default.g-task-list-tag(href=`#item_tasks/tagged?tags=${tag}`)= tag
                | &#x20;
    if collection.hasNextPage()
      .panel-footer.g-task-list-task-items-footer
        a.g-task-list-task-items-next-page
          | See next page &raquo;
    else
      .panel-footer.g-task-list-task-items-footer
        | End of list
