.g-config-breadcrumb-container
p.g-item-tags-description
  | Configure the list of allowed item tags.
  | Modifying or removing tags from this list will not modify any items that have been tagged with those tags.
.g-item-tags
