.g-item-tags
  if (accessLevel >= AccessType.WRITE)
    .btn-group.pull-right
      button.g-widget-item-tags-add-button.btn.btn-sm.btn-primary.btn-default(title="Add Tag")
        i.icon-plus
  .g-widget-item-tags-header
    i.icon-tags Tags
  .g-widget-item-tags-container
