.g-homepage-container
  margin-bottom 10px

.g-homepage-logo-upload-container
  width 400px
  border-style solid
  border-width 1px

.g-homepage-logo-preview
  display block

#g-homepage-logo-reset
  width 90px
  display block
  margin-top 5px
