.g-widget-item-tags-header
  margin-top 10px
  background-color #f0f0f0
  padding 5px 6px
  color #555
  font-size 16px
  font-weight bold

  i
    font-style normal

button.g-widget-item-tags-add-button
  float right
  margin-right 10px
  padding 2px 3px
  margin-top 4px

.g-widget-item-tags-container
  margin 3px
  margin-top 5px
  border-bottom 1px solid #f0f0f0
  min-height 25px
  font-size 14px
  color #777

.g-widget-item-tags-container

  .g-widget-item-tags-row
    width 100%
    display flex

    .g-widget-item-tags-tag
      font-size 16px
      font-weight 700
      flex-grow 1

    .g-widget-item-tags-tag-input
      height 24px
      margin-left 5px
      margin-right 5px
      display inline-block
      vertical-align middle
      width auto
      flex-grow 1

    .g-widget-item-tags-edit-button, .g-widget-item-tags-cancel-button, .g-widget-item-tags-save-button, .g-widget-item-tags-delete-button
      margin-right 4px
      margin-top 1px
      height 24px
      font-size 12px
      padding 2px

.g-widget-item-tags-autocomplete-option.selected
  background-color #ccc
