.modal-dialog
  .modal-content
    .modal-body
      p
    .modal-footer
      a.btn.btn-small.btn-default(data-dismiss="modal")= params.noText
      a#g-confirm-button.btn.btn-small(class=params.yesClass)= params.yesText
