.modal-dialog
  .modal-content
    form#g-collection-edit-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          if (collection)
            | Edit collection
          else
            | Create collection
      .modal-body
        .form-group
          label.control-label(for="g-name") Name
          input.input-sm#g-name.form-control(type="text", placeholder="Enter collection name")
        .form-group
          label.control-label(for="g-description") Description (optional)
          textarea.input-sm#g-description.form-control(placeholder="Enter collection description")
        .g-validation-failed-message
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.g-save-collection.btn.btn-small.btn-primary(type="submit")
          if (collection)
            i.icon-edit
            | Save
          else
            i.icon-plus-squared
            | Create
