.modal-dialog
  .modal-content
    form#g-group-edit-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          if (group)
            | Edit group
          else
            | Create group
      .modal-body
        .g-public-container
          .radio
            label
              input#g-access-private(type="radio", name="privacy",
                                     checked=(public ? undefined : "checked"))
              i.icon-lock
              | Private &mdash; Only members can see this group
          .radio
            label
              input#g-access-public(type="radio", name="privacy",
                                    checked=(public ? "checked" : undefined))
              i.icon-globe
              | Public &mdash; Anyone can see this group
        .form-group
          label.control-label(for="g-name") Name
          input.input-sm#g-name.form-control(type="text", placeholder="Enter group name")
        .form-group
          label.control-label(for="g-description") Description (optional)
          textarea#g-description.input-sm.form-control(placeholder="Enter group description")
        .g-validation-failed-message
      .modal-footer
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
        button.g-save-group.btn.btn-small.btn-primary(type="submit")
          if (group)
            i.icon-edit
            | Save
          else
            i.icon-plus-squared
            | Create
