ul.g-folder-list
  each folder in folders
    li.g-folder-list-entry
      input.g-list-checkbox(type="checkbox", g-folder-cid="#{folder.cid}")
      a.g-folder-list-link(g-folder-cid="#{folder.cid}")
        i.icon-folder
        | #{folder.get('name')}
