.g-group-mods-header.g-group-list-header
  i.icon-shield
  |  Moderators

.g-group-mods-body
  ul.g-group-mods
    each userAccess in moderators
      li(userid="#{userAccess.id}", username="#{userAccess.name}")
        a.g-member-name
          i.icon-user
          |  #{userAccess.name} (#{userAccess.login})
        .g-group-member-controls.pull-right
          if level >= accessType.ADMIN
            a.g-group-mod-demote(title="Demote to member")
              i.icon-down-big
    if (!moderators.length)
      .g-member-list-empty
        i.icon-info-circled
        |  There are no moderators in this group.
