mixin metadatum(key, value, accessLevel, girder, isJson)
  if (accessLevel >= girder.AccessType.WRITE)
    button.btn.btn-sm.btn-default.g-widget-metadata-edit-button
      i.icon-pencil
  span.g-widget-metadata-key #{key}
    if isJson
      span.small json
    else
      span.small simple
  if isJson
    span.g-widget-metadata-value
      pre #{value}
  else
    span.g-widget-metadata-value #{value}
