.g-search-wrapper
  a.g-search-options-button.btn.btn-sm(title="Search options", tabindex="0")
    i.icon-search
  input.g-search-field.form-control.input-sm(type="text", placeholder="#{placeholder}")
  .g-search-results.dropdown
    ul.dropdown-menu(role="menu")
