.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal" aria-hidden="true") &times;
      h4.modal-title Your current token 
      .g-dialog-subtitle
        span= currentToken
    .modal-footer
      a.btn.btn-small.btn-default(data-dismiss="modal") Close
