include uploadWidgetMixins
include selectLicenseMixin

form#g-upload-form
  if title
    h4= title
  +g-upload-widget-subtitle
  +g-upload-widget-browse-or-drop
  +g-upload-widget-progress
  if licenses
    +g-select-license(licenses)
  .g-nonmodal-upload-buttons-container
    +g-upload-widget-start-button
