.form-group
  label(for="g-" + type + "-import-exclude-existing") Exclude Existing Files
  select.form-control(id="g-" + type + "-import-exclude-existing")
    option(value="false") False
    option(value="true") True
