option_settings:
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "clients/web/static/"

packages:
  yum:
    gcc: []
    git: []
    openldap-devel: []

commands:
  01_make_log_root:
    command: 'sudo mkdir -p /var/log/girder'

  02_chown_log_root:
    command: 'sudo chown wsgi:wsgi /var/log/girder'
