.h-panel-content
    .slider.slider-horizontal
        width 90%
        margin-left 5%
        margin-right 5%

body
    .colorpicker-saturation
        background-image url("./extra/bootstrap-colorpicker/saturation.png")
        
    .colorpicker-hue
        background-image url("./extra/bootstrap-colorpicker/hue.png")
        
    .colorpicker-alpha
        background-image url("./extra/bootstrap-colorpicker/alpha.png")
        
    .colorpicker-color
        background-image url("./extra/bootstrap-colorpicker/alpha.png")

    .colorpicker.colorpicker-horizontal .colorpicker-hue
        background-image url("./extra/bootstrap-colorpicker/hue-horizontal.png")

    .colorpicker.colorpicker-horizontal .colorpicker-alpha
        background-image url("./extra/bootstrap-colorpicker/alpha-horizontal.png")
