.g-treeview-config-container

    .g-treeview-container, .g-treeview-selected
        padding 10px
        border 1px solid #bbb
        border-radius 3px
        max-height 500px
        overflow auto
        margin-bottom 10px

        pre
            margin 0
