#g-dicom-view
  display none
  margin-bottom 15px
  width 512px

.g-dicom-controls
  margin-top 10px

.g-dicom-controls .right
  float right

.g-dicom-controls button
  margin-right 5px

.g-dicom-controls .right button
  margin-right 0
  margin-left 5px

.g-dicom-controls input
  margin 5px 0
