---
- name: Add NodeJS PPA key
  apt_key:
    keyserver: "keyserver.ubuntu.com"
    id: "68576280"
  become: true
  become_user: root

- name: Add NodeJS PPA
  apt_repository:
    repo: "deb https://deb.nodesource.com/node_10.x {{ ansible_distribution_release }} main"
  become: true
  become_user: root

- name: Install NodeJS package
  apt:
    name: nodejs
    force_apt_get: true
  become: true
  become_user: root
