.g-config-breadcrumb-container

p.g-autojoin-description
  | The Auto Join plugin allows you to define rules to automatically assign new users to groups based on their email address domain.

.g-autojoin-container

p#g-autojoin-error-message.g-validation-failed-message

form#g-autojoin-form(role="form")
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
