description "Girder server"

start on startup
stop on shutdown

# Automatically Respawn:
respawn
respawn limit 20 5

script

    cd {{ girder_path }}
    exec python -m girder > /dev/null 2>&1

end script
