[global]
server.socket_host: "0.0.0.0"
server.socket_port: {{ girder_port }}
server.thread_pool: {{ girder_thread_pool }}

[auth]
hash_alg: "{{ girder_hash_algorithm }}"
{% if girder_bcrypt_rounds != "" and girder_hash_algorithm == "bcrypt" %}
bcrypt_rounds: {{ girder_bcrypt_rounds }}
{% endif %}

[database]
uri: "mongodb://{{ hostvars[groups[mongodb_ansible_group][0]]
                           ['ansible_' + mongodb_net_interface]
                           ['ipv4']
                           ['address'] }}:{{ mongodb_port }}/girder"
{% if girder_replica_set == "" %}
replica_set: None
{% else %}
replica_set: "{{ girder_replica_set }}"
{% endif %}

[server]
mode: "{{ girder_mode }}"
api_root: "{{ girder_api_root }}"
static_root: "{{ girder_static_root }}"
api_static_root: "{{ girder_api_static_root }}"

[logging]
log_root="{{ girder_install_root }}/log"

[users]
email_regex: "{{ girder_email_regex }}"
login_regex: "{{ girder_login_regex }}"
login_description: "{{ girder_login_description }}"
password_regex: "{{ girder_password_regex }}"
password_description: "{{ girder_password_description }}"
