.g-task-custom-target-container
  margin-bottom 8px

  .g-target-result
    padding 5px 10px
    background-color #eee
    border-radius 3px
    margin-bottom 6px

.g-selected-task
  padding 5px 10px
  border 1px solid #ccc
  background-color #fafafa
  border-radius 3px
  margin-bottom 10px