.g-task-list-task-items
  .g-task-list-tag-container
    margin-top 5px

  .g-task-list-task-items-footer
    padding 5px 15px
    font-size 12px
    color #aaa
    background-color #fff
    user-select none
