//- Override Bootstrap label styles
.g-task-list-tag-container
  .g-task-list-tag
    font-size 100%
    font-weight normal
    color #808080
    background-color #f4f4f4

    &:focus
    &:hover
      color #555
      background-color #eee
