a.g-job-checkbox-menu-link(data-toggle="dropdown", data-target=`#g-job-checkbox-menu-${title}`)
  | #{title}
  i.icon-filter
.dropdown(id=`g-job-checkbox-menu-${title}`)
  .dropdown-menu(role="menu")
