.g-authorized-upload-page-wrapper
  .g-upload-wrapper
    p.
      You have been authorized to upload a file to this server. Please drag and drop your file
      here, or click the button to select it using a file browser, and then click #[b Start Upload].

    p.
      You may also include your email address and a description of the data.

    label(for="g-authorized-upload-email") Your email address (optional)
    input#g-authorized-upload-email.form-control(placeholder="Enter email")

    label(for="g-authorized-upload-description") Description of data (optional)
    input#g-authorized-upload-description.form-control(placeholder="Enter description")

    .g-upload-widget-container
  .g-complete-wrapper.hide
    p Thank you! Your file has been received.
