.g-header-wrapper
  .g-app-title Girder

  form.g-quick-search-form.form-inline(role="form")
    .form-group
      label.sr-only(for="name") Quick Search
      input#g-quick-search-input.input-sm.form-control(
          type="text", placeholder="Quick Search", name="text")
    .form-group
      button#g-quick-search-btn.btn.btn-primary.btn-sm
        i.icon-search
