.g-footer-links
  a#g-about-link(href="http://girder.readthedocs.org/en/latest/user-guide.html") About
  a#g-contact-link(href="mailto:kitware@kitware.com") Contact
  a(href=apiRoot) Web API
  a#g-bug-link(href="https://github.com/girder/girder/issues/new") Report a bug

.g-footer-info
  | &copy; Kitware, Inc.
