.modal-dialog
  .modal-content
    form#g-reset-password-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title Reset password
      .modal-body
        .g-password-reset-explanation
          | If you have forgotten your password, you can enter your email address
          | here. Your password will be reset and an email will be sent to that
          | address with the new password.
        .form-group
          label.control-label(for="g-email") Email
          input.input-sm#g-email.form-control(type="text", placeholder="Enter your email")
        .g-validation-failed-message
        .g-bottom-message
          a.g-register-link  Register
          |  |
          a.g-login-link  Login
      .modal-footer
        a.btn.btn-default(data-dismiss="modal") Close
        button#g-reset-password-button.btn.btn-primary(type="submit")
          i.icon-mail
          |  Reset
