.g-login-view-container,.g-consent-view-container
  max-width 700px
  margin 50px auto
  padding 0 20px

  .g-scope-name
    font-weight bold
    color #444
    font-size 17px

  .g-scope-description
    color #888

  .g-scope-list li
    margin-top 10px

.g-consent-buttons,.g-login-buttons
  text-align center
  margin-top 36px

  .btn
    margin 0 10px
    padding 10px 24px
    border-radius 3px
