.g-consent-view-container
  h3 Authorize OAuth application
  p.g-authorize-text.
    The application #[b= client.name] is requesting the following access to this Girder instance
    on behalf of your user (#[b= user.get('login')]):

  ul.g-scope-list
    each scope in scopes
      - var info = getScopeInfo(scope)
      li
        .g-scope-name= info.name
        .g-scope-description= info.description

  .g-consent-buttons
    button.g-oauth-client-consent.btn.btn-lg.btn-danger(value="false") Deny
    button.g-oauth-client-consent.btn.btn-lg.btn-primary(value="true") Allow
