.form-group
  label.control-label(for="g-edit-hdfs-path") Root path
  input#g-edit-hdfs-path.input-sm.form-control(type="text", placeholder="Root path")
.form-group
  label.control-label(for="g-edit-hdfs-host") Namenode host
  input#g-edit-hdfs-host.input-sm.form-control(type="text", placeholder="Host")
.form-group
  label.control-label(for="g-edit-hdfs-port") Namenode RPC port
  input#g-edit-hdfs-port.input-sm.form-control(type="text", placeholder="RPC port")
.form-group
  label.control-label(for="g-edit-hdfs-webhdfs-port") WebHDFS port (default is 50700)
  input#g-edit-hdfs-webhdfs-port.input-sm.form-control(type="text", placeholder="WebHDFS port")
.form-group
  label.control-label(for="g-edit-hdfs-user") Effective user (default is current user)
  input#g-edit-hdfs-user.input-sm.form-control(type="text", placeholder="Username")
