.form-group
  label.control-label(for="g-edit-hdfs-path") Root path
  input.input-sm#g-edit-hdfs-path.form-control(type="text", placeholder="Root path")
.form-group
  label.control-label(for="g-edit-hdfs-host") Namenode host
  input.input-sm#g-edit-hdfs-host.form-control(type="text", placeholder="Host")
.form-group
  label.control-label(for="g-edit-hdfs-port") Namenode RPC port
  input.input-sm#g-edit-hdfs-port.form-control(type="text", placeholder="RPC port")
.form-group
  label.control-label(for="g-edit-webhdfs-port") WebHDFS port (default is 50700)
  input.input-sm#g-edit-webhdfs-port.form-control(type="text", placeholder="WebHDFS port")
.form-group
  label.control-label(for="g-edit-hdfs-user") Effective user (default is current user)
  input.input-sm#g-edit-hdfs-user.form-control(type="text", placeholder="Username")
